/* Font - size */

$small: 14px;
$medium: 18px;
$large: 24px;
$xlarge: 32px;
$epic: 48px;
$jumbo: 64px;

/* Theme - colors */

$purple: rgb(147, 98, 143);
$darkpurple: rgb(74, 40, 73);
$sand: rgb(243, 222, 205);
$white: rgb(249, 238, 232);
